@import url('https://fonts.googleapis.com/css2?family=Poppins:400,500,600,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: black;

}

:root{
    --bg-color: #000000;
    --second-bg-color: #0c0b0b;
    --text-color: #fff;
    --main-color: rgb(235, 174, 7);
}

.header .title h2{
    height: 5vh;
    margin-top: 25px;
    margin-left: 25px;
    color:var(--main-color);
    font-size: 50px;
    text-align: center;
}
span{
    color: var(--main-color);
}

.content{
    display: grid;
    height: 62vh;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content .content-left{
    color: var(--text-color);
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 10%;
}
.content .content-left .Ingredients{
    color: var(--text-color);
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .Ingredients h2{
    color: var(--main-color);
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.content .content-left .Ingredients ul{
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}
.content .content-right{
    display: block;
    width: 100%;
}
.content .content-right video{
    width: 950px;
    height: 465px;
    position: relative;
    margin-right: 30px;
    border-radius: 70px;
    border: 5px solid var(--main-color);
    user-select: none;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 50px;
    margin-left: 130px;
    color: var(--main-color);
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.content .content-right button{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 35px;
    margin-left: 37%;
    border: none;
    background: var(--main-color);
    padding:  1rem 2.8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    font-size: 1.6rem;
    transition: .5s ease;

}

.content .content-right button:hover{
    box-shadow: none;
}

.content .content-left .Steps h2{
    color: var(--main-color);
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.content .content-left .Steps ol{
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

    
